/* Page styling
================================== */
html {
  height: 100%;
  background-color: #3C4664;
}
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto;
  padding: 2em;
  max-width: 1200px;
  font-family: $font-family;
  font-size: 1.2em;
  border-top: none;
  border-bottom: none;
  color: $font-color;
  @media screen and (max-width: 768px) {
    padding: .25em .25em 60px .25em;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  color: $font-color;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1em;
}
strong {
  color: #434d57;
}
button {
  font-family: $font-family;
}
.l-row {
  display: flex;
  &.l-row--j-space-between {
    justify-content: space-between;
  }
  &.l-row--a-center {
    align-items: center;
  }
  @media screen and (max-width: 780px) {
    &.l-row--j-space-between-mob {
      justify-content: space-between;
    }
    &.l-row--a-center-mob {
      align-items: center;
    }
    &.l-row--j-center-mob {
      justify-content: center;
    }
  }
}

.logo {
  width: 200px;
  fill: $font-color;
}
