$primary-color: #C9C9CA; // Primary color for buttons and links
$font-color: #dfe3f3; // Default font color
$font-family:  'Karla', Helvetica, Arial, sans-serif !default;

$tab-colour: #3D5467;
$accordion-colour: #3D5467;
$accordion-colour-positive: #379392;
$accordion-colour-negative: #A23E48;

$accordion-br: 1.2em;
$icon-size: 3em;

$transition: all 2s ease;
